.searchOut {
	display: inline-block;
	height: 250px;
	width: 250px;
}

.navbar {
	background-color: whitesmoke;
}

.navbar.navbar-nav.navbar-left {
	display: inline-block;
}

.card img {
	width: 250px;
	height: 300px;
}

#top {
	background-color: #D2383D;
	border: 2px solid;
}

.table-responsive {
  border: 2px solid #42b983;
  border-radius: 3px;
  background-color: #fff;
}