.searchOut {
	display: inline-block;
	height: 250px;
	width: 250px;
}

.navbar {
	background-color: #333;
}

.navbar.navbar-nav.navbar-left {
	display: inline-block;
}

.jumbotron img {
	width: 200px;
	height: 300px;
}